@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


html,

:root {
    --padding-container: 100px 0;
    --color-title: #001a49;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NAV */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__items {
    list-style: none;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__links-top {
    color: #000;
    text-decoration: none;
}

.nav__links {
    color: #ffffff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30;
}

.nav__close {
    display: var(--show, none);
}

/* ----------------------------------------- */


.section {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    font-size: 3rem;
    color: #131313;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}


.container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 330px;
    height: 220px;
}


.container .card h4 {
    font-weight: 600;
}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/* ------------FOOTER------------- */


.footer {
    background-color: #1D293F;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
    color: #fff;
}


.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

.nav--footer {
    padding-bottom: 10px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 20px;
}